/* ==UserStyle==
@name            HuggingChat responsive
@version         1.0.2
@description     HuggingChat website is more suitable for wide screens.
@author          BreatFR (https://breat.fr)
@namespace       https://gitlab.com/breatfr
@homepageURL     https://gitlab.com/breatfr/huggingchat
@updateURL       https://gitlab.com/breatfr/huggingchat/-/raw/main/css/huggingchat-responsive.user.css
@supportURL      https://discord.gg/Q8KSHzdBxs
@license         AGPL-3.0-or-later; https://www.gnu.org/licenses/agpl-3.0.txt
==/UserStyle== */

/* === Credits ===
Website          https://breat.fr
facebook         https://www.facebook.com/breatfroff
mastodon         https://mastodon.social/@breat_fr
telegram         https://t.me/breatfr
vk               https://vk.com/breatfroff
X (twitter)      https://x.com/breatfroff
=== Credits === */

@-moz-document url-prefix("https://huggingface.co/chat/") {
    .xl\:max-w-4xl,
    form,
    [aria-label="file dropzone"] {
        max-width: 100% !important;
    }
    
    pre {
        white-space: wrap;
    }
}
